<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Account {{nick}}</title>
    <link
            rel="stylesheet"
            href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
    <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon"/>
</head>
<body>
<main class="container">
    <article>
        <h3>Welcome {{nick}}</h3>
        <nav
                style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px"
        >
            <ul>
                <li><a href="/contacts" role="button">Contacts</a></li>
                <li><a href="/Notebook" role="button">Notes</a></li>
                <li><a href="Upload_files" role="button">Upload files</a></li>
                <li><a href="logout" role="button">Log out</a></li>
            </ul>
        </nav>
        <div>
            <h3>News:</h3>
            {% for politic in politics_news%}
            <ul>
                <li>
                    <span class="outline"
                    >{{politic}}</span
                    >
                </li>
            </ul>
            {% endfor %}
            <h3>Football:</h3>
            {% for football in football_news%}
            <ul>
                <li>
                    <span class="outline"
                    >{{football}}</span
                    >
                </li>
            </ul>
            {% endfor %}
            <h3>Currency:</h3>
            <table>
                <tr>
                    {% for index in range(4)%}
                    <td>{{currency_news[index]}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{currency_news[4]}}</td>
                    {% for index in range(7,10)%}
                    <td>{{currency_news[index]}}</td>
                    {% endfor %}
                <tr>
                    <td>{{currency_news[5]}}</td>
                    {% for index in range(10,13)%}
                    <td>{{currency_news[index]}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{currency_news[6]}}</td>
                    {% for index in range(13,16)%}
                    <td>{{currency_news[index]}}</td>
                    {% endfor %}
                </tr>
            </table>
            <h3>Weather:</h3>
            {% for weather in weather_news%}
            <ul>
                <li>
                    <span class="outline"
                    >{{weather}}</span
                    >
                </li>
            </ul>
            {% endfor %}

        </div>

    </article>
</main>
</body>
</html>