<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Account {{nick}}</title>
    <link
            rel="stylesheet"
            href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
    <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" />
</head>
<body>
<main class="container">
    <article>
        <h3>Welcome {{nick}}</h3>
        <nav
                style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px"
        >
            <ul>
                <li><a href="/back/{{contact_id}}" role="button">Back</a></li>
                <li><a href="/account_window" role="button">News</a></li>
                <li><a href="/contacts" role="button">Contacts</a></li>
                <li><a href="/Notebook" role="button">Notes</a></li>
                <li><a href="/file_uploader" role="button">Upload files</a></li>
                <li><a href="/logout" role="button">Log out</a></li>
            </ul>
        </nav>
        <div>
        {% block content %}
        {% endblock %}
        </div>

    </article>
</main>
</body>
</html>