{% extends "new_base.html" %}

{% block content %}

<div class="navbar-default navbar-fixed-top" id="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img class="logo-1" src="{{ url_for('static', filename='/images/logo.png')}}" alt="LOGO">
                <img class="logo-2" src="{{ url_for('static', filename='/images/logo-2.png')}}" alt="LOGO">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <nav class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right" id="top-nav">
                <li><a href="/account_window">Main</a></li>
                <li><a href="/contacts">Contacts</a></li>
                <li><a href="/Notebook">Notes</a></li>
                <li><a href="/file_uploader">File Uploader</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </nav><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</div>

<section id="hero-area" style="min-height: 99vh;">
    <div class="container">
        <div class="row" id="contacts_amount">
            <div class="col-md-6">
                <div class="block">
                    <h1 class="wow fadeInDown">Here <strong>{{title}}</strong> can help you to change your contact data.
                    </h1>
                    <p class="wow fadeInDown" data-wow-delay="1s">You can change any information of your contact.</p>
                    <div class="wow fadeInDown" data-wow-delay="1.5s">
                        <a class="btn btn-default btn-home" href="/contacts" role="button">Back To Contacts</a>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-sm-12 wow fadeInLeft" style="width:50%">
                <h2 style="color:white; margin-bottom:5%">Contact to edit -- {{contact.first_name}}:</h2>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-warning">{{message}}</div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <div>
                    <table style="width:10%" class="table">
                        <tr style="display:flex">
                            <th><h3>Name:</h3></th>
                            <th style="display:flex;">
                                <h3 style="margin-right:3%">{{contact.first_name}};</h3>
                                <form action="/edit_name/{{contact.id}}" method="post">
                                    <button style="background:transparent; border:transparent">
                                        &#9997;
                                    </button>
                                </form>
                            </th>
                        </tr>
                        <tr style="display:flex">
                            <th><h3>Last name:</h3></th>
                            <th style="display:flex"><h3 style="margin-right:3%">{{contact.last_name}};</h3>
                                <form action="/edit_last_name/{{contact.id}}" method="post">
                                    <button style="background:transparent; border:transparent">
                                        &#9997;
                                    </button>
                                </form>
                                {%if contact.last_name != '-'%}
                                <form action="/delete_last_name/{{contact.id}}" method="post">
                                    <button style="background:transparent; border:transparent">
                                        &#10006;
                                    </button>
                                </form>
                                {%endif%}
                            </th>
                        </tr>
                        <tr style="display:flex">
                            <th><h3>Birthday:</h3></th>
                            <th style="display:flex"><h3 style="margin-right:3%">{{contact.birthday}};</h3>
                                <form action="/edit_birthday/{{contact.id}}" method="post">
                                    <button style="background:transparent; border:transparent">
                                        &#9997;
                                    </button>
                                </form>
                                {%if contact.birthday != '-'%}
                                <form action="/delete_birthday/{{contact.id}}" method="post">
                                    <button style="background:transparent; border:transparent">
                                        &#10006;
                                    </button>
                                </form>
                                {%endif%}
                            </th>
                        </tr>
                        <tr style="display:flex">
                            <th><h3>Emails:</h3></th>
                            <th style="display:flex">
                                {% for email in contact.emails %}
                                <h3 style="margin-right:3%">{{email.email}};</h3>
                                <form action="/edit_email/{{contact.id}}/{{email.id}}" method="post">
                                    <button style="background:transparent; border:transparent">
                                        &#9997;
                                    </button>
                                </form>
                                <form action="/delete_email/{{contact.id}}/{{email.id}}" method="post">
                                    <button style="background:transparent; border:transparent">
                                        &#10006;
                                    </button>
                                </form>
                                {% endfor %}
                            </th>
                        </tr>
                        <tr style="display:flex">
                            <th><h3>Phones:</h3></th>
                            <th style="display:flex">
                                {% for phone in contact.phones %}
                                <h3 style="margin-right:3%">{{phone.phone}};</h3>
                                <form action="/edit_phone/{{contact.id}}/{{phone.id}}" method="post">
                                    <button style="background:transparent; border:transparent">
                                        &#9997;
                                    </button>
                                </form>
                                <form action="/delete_phone/{{contact.id}}/{{phone.id}}" method="post">
                                    <button style="background:transparent; border:transparent">
                                        &#10006;
                                    </button>
                                </form>
                                {% endfor %}
                            </th>
                        </tr>
                        <tr style="display:flex">
                            <th><h3>Addresses:</h3></th>
                            <th style="display:flex">
                                {% for address in contact.addresses %}
                                <div style="display:flex; width:170px;">
                                    <h3 style="margin-right:1%;">{{address.address}};</h3>
                                <form action="/edit_address/{{contact.id}}/{{address.id}}" method="post">
                                    <button style="background:transparent; border:transparent">
                                        &#9997;
                                    </button>
                                </form>
                                <form action="/delete_address/{{contact.id}}/{{address.id}}" method="post">
                                    <button style="background:transparent; border:transparent">
                                        &#10006;
                                    </button>
                                </form>
                                <br>
                                    </div>
                                {% endfor %}
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div><!-- .row close -->
    </div><!-- .container close -->
</section><!-- header close -->

{%endblock%}