<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Notebook</title>
    <link
            rel="stylesheet"
            href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
</head>
<body>
<main class="container">
    <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
        <ul>
            <li><a href="/account_window" role="button"> Go back to the main page </a></li>
        </ul>
        <ul><b>Notes for {{ nick.nick }}</b></ul>
    </nav>
    <div class="grid">
        <ul>
            <a href="/tags/" role="button">Add tags</a>
        </ul>
        <ul>
            <a href="/notes/" role="button">Add notes</a>
        </ul>
        <ul>
            <a href="/search_notes_tags/" role="button">Search</a>
        </ul>
    </div>
    <div>
        for now you have {{ all_tags_num }} tags
    </div>

    {% for tag in all_tags %}
    <ul>
        <li>
            <a href="/detail_tag/{{tag.id}}" role="button" class="outline">{{tag.name}}</a>
            <a href="/edit_tag/{{tag.id}}" role="button" class="secondary">Edit tag</a>
            <a href="/delete_tag/{{tag.id}}" role="button" class="contrast">Delete tag {{tag.id}} </a>
        </li>
    </ul>
      {% endfor %}
    <div>
        for now you have {{ all_notes_n }} notes
    </div>

    {% for note in all_notes %}
    <ul>
        <li>
            <a href="/detail_note/{{note.id}}" role="button" class="outline">{{note.name}}</a>
            <a href="/edit_note/{{note.id}}" role="button" class="secondary">Edit note</a>
            <a href="/delete_note/{{note.id}}" role="button" class="contrast">Delete note</a>
        </li>
    </ul>
      {% endfor %}
</main>
</body>
</html>
