{% extends "new_base.html" %}

{% block content %}

<div class="navbar-default navbar-fixed-top" id="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img class="logo-1" src="{{ url_for('static', filename='/images/logo.png')}}" alt="LOGO">
                <img class="logo-2" src="{{ url_for('static', filename='/images/logo-2.png')}}" alt="LOGO">
            </a>
        </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
        <nav class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right" id="top-nav">
                <li><a href="/account_window">Main</a></li>
                <li><a href="/contacts">Contacts</a></li>
                <li><a href="/Notebook">Notes</a></li>
                <li><a href="/file_uploader">File Uploader</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </nav><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</div>


        {%endblock%}