<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Tag {{d_tag}} information</title>
    <link
            rel="stylesheet"
            href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
</head>
 </head>
  <body>
    <main class="container">
      <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
        <ul>
          <li><a href="/Notebook" role="button"> Go back to the notebook page </a></li>
        </ul>
      </nav>
      <form method="POST" action="/edit_tag/{{d_tag.id}}">
        <div style="padding: 10px">
          <label
            >Tag name:
            <input type="text" name="tag_name" placeholder={{d_tag}} required />
          </label>
          <button type="submit">Submit</button>
		  <button type="reset" class="secondary">Reset</button>
        </div>
      </form>
    </main>
  </body>
</html>

